html {
    font-size: 16px;
    background-color: $marron;

    @include tablet() {
        font-size: 18px;
    }

    @include desktop() {
        font-size: 20px;
    }

    @include desktop4k() {
        font-size: 22px;
    }

    max-width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

a,
address {
    text-decoration: none;
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}