// COLORES
$bg-primary-color: #eb9ac0;
$bg-secundary-color: #ffffff;


$primary-color: #833d01;
$secundary-color: #ffbf94;

$primary-text-color: black;

$color1: #eb9ac0;
$color2: #f3aacb;
$color3: #f7bfd8;
$color4: #fbd5e5;
$color5: #fdeaf2;

$marron2: #8b7c57; //Marron Galería

$dorado: #917c5a; //Marron

/* $marron: #d4c2a4; //Marron tarjetas */
$marron: #ede4d7;

$card: #d8c2a3;

$marroncito: #f4e7d8; //Marroncito

$marronClarito: #f4edf3; //Marron clarito

$gris: #d6e4ff; //Gris

$nav-item: black;
$nav-item-hover: blue;

// TIPOGROFIA


// IMAGENES
$logo: "../img/logo.png";
$bg-body: "../img/bg-huellas.png";
$perritos: "../img/perritos-min2.png";