/* $marron: #d4c2a4; //Marron tarjetas */
html {
  font-size: 16px;
  background-color: #ede4d7;
  max-width: 100vw;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a,
address {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32vh;
  height: 7vh;
}

.font-1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-2 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-3 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1rem;
}

.font-4-1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-4-2 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
  font-style: normal;
}

.splash {
  font-family: "Splash", cursive;
  font-weight: 400;
  font-style: normal;
}

.hurricane {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}

.simple {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.neonBlanco {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.brillos {
  width: 100vw;
  height: 30vh;
}
.brillos .espejo {
  z-index: 10;
  position: absolute;
  width: 40vw;
  left: 30vw;
  opacity: 0.5;
  rotate: 15deg;
}
.brillos .brillo-fondo {
  position: absolute;
  top: 0;
  height: 25vh;
  opacity: 0.5;
  z-index: 5;
}
.brillos .izq {
  right: 0;
}
.brillos .fondo {
  height: 30vh;
  position: relative;
  bottom: 0;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ede4d7;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.hero img {
  width: 150vw;
}
.hero h1,
.hero h2 {
  padding: 5px;
  color: #917c5a;
  width: -moz-fit-content;
  width: fit-content;
}
.hero h1 {
  position: relative;
  top: -15vh;
  font-size: 7rem;
  border-radius: 0 10px 0 0;
  padding-top: 0.5rem;
  color: #ffffff;
  z-index: 15;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff, 0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
.hero .subtitle {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 0 10px 10px 0;
  position: relative;
  top: -20vh;
}
.hero span {
  vertical-align: middle;
  color: #917c5a;
}
.hero .xv {
  font-size: 7rem;
  color: #cfa571;
}
.hero .fecha {
  width: 85vw;
  position: relative;
  top: -5vh;
}

.frase {
  position: relative;
  top: -15vh;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: #ede4d7;
  line-height: 25px;
}
.frase p {
  color: #917c5a;
  text-align: center;
  font-size: 2.5vh;
}

.cuentaAtras {
  background-image: url("../../assets/img/ondas.svg");
  background-size: 190%;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ede4d7;
  color: #917c5a;
}
.cuentaAtras h2 {
  font-size: 3.5rem;
  text-align: center;
}
.cuentaAtras .contador {
  width: 100%;
  padding: 0 10vw;
  display: flex;
  justify-content: space-evenly;
}
.cuentaAtras .contador .numeros {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cuentaAtras .contador .texto {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.galeria {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  background-color: #f4edf3;
}
.galeria h2 {
  color: #917c5a;
  font-size: 2.5rem;
  margin-bottom: 3vh;
}
.galeria .fotos {
  background-color: #8b7c57;
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
}
.galeria .fotos img {
  overflow-x: hidden;
  width: auto;
  height: 28vh;
}

.info {
  position: relative;
  width: 100vw;
  background-color: #f4e7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}
.info .difum-1 {
  position: absolute;
  width: 29vh;
  top: 1vh;
  right: -45vw;
  z-index: 1;
}
.info .bola {
  position: absolute;
  z-index: 5;
}
.info .bola-1 {
  width: 25%;
  top: 40vh;
  left: -15vw;
  rotate: -55deg;
}
.info .bola-2 {
  width: 35%;
  top: 45vh;
  left: -20vw;
  rotate: -75deg;
}
.info .bola-3 {
  width: 25%;
  top: 15vh;
  right: -15vw;
  rotate: 25deg;
}
.info .bola-4 {
  width: 35%;
  top: 5vh;
  right: -20vw;
  rotate: 75deg;
}
.info .bola-5 {
  width: 30%;
  top: 90vh;
  right: -15vw;
  rotate: 25deg;
}
.info .bola-6 {
  width: 35%;
  top: 80vh;
  right: -25vw;
  rotate: 75deg;
}
.info .card {
  align-items: center;
  background-color: #d8c2a3;
  border-radius: 15px;
  width: 60%;
  padding: 3vh;
  padding-top: 10vh;
  margin: 3vh 0 0 0;
}
.info .lugar h2,
.info .lugar p,
.info .lugar a,
.info .regalo h2,
.info .regalo p,
.info .regalo a,
.info .playlist h2,
.info .playlist p,
.info .playlist a {
  text-align: center;
  display: block;
}
.info .lugar h2,
.info .regalo h2,
.info .playlist h2 {
  font-size: 2rem;
  margin-bottom: 1vh;
}
.info .lugar p,
.info .regalo p,
.info .playlist p {
  font-size: 2vh;
}
.info .lugar a,
.info .regalo a,
.info .playlist a {
  font-size: 3vh;
  background-color: #f4e7d8;
  color: #917c5a;
  font-weight: bolder;
  border-radius: 15px;
  padding: 0.3rem 1rem;
  margin-top: 2vh;
}
.info .lugar {
  display: flex;
  flex-direction: column;
}
.info .lugar h2 {
  top: -6vh;
  font-size: 4.8vh;
  color: #917c5a;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff, 0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
.info .lugar p {
  top: -6vh;
}
.info .lugar a {
  top: -5vh;
}
.info .lugar img {
  position: absolute;
  top: 4vh;
  rotate: 45deg;
  width: 10vh;
  margin: 0;
}
.info .playlist {
  position: relative;
  display: flex;
  flex-direction: column;
}
.info .playlist h2 {
  top: -2vh;
  font-size: 4.8vh;
  color: #917c5a;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff, 0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
.info .playlist img {
  position: absolute;
  top: 4vh;
  width: 6vh;
  margin: 0;
}
.info .regalo {
  position: relative;
  display: flex;
  flex-direction: column;
}
.info .regalo h2 {
  top: -2vh;
  font-size: 4.8vh;
  color: #917c5a;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff, 0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
.info .regalo p {
  top: -1rem;
  font-size: 1.6vh;
}
.info .regalo img {
  position: absolute;
  top: 4vh;
  width: 6vh;
  margin: 0;
}

.foto {
  display: flex;
  flex-direction: column;
  height: auto;
}
.foto .shadow {
  width: 100vw;
  height: 15px;
  background-color: #f4e7d8;
  box-shadow: 0px 5px 10px #f4e7d8;
  z-index: 10;
}
.foto img {
  z-index: 1;
  width: 100%;
  height: auto;
}

.asistencia {
  position: relative;
  background-color: #917c5a;
  color: #f4e7d8;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7vh 0;
}
.asistencia .copa {
  position: absolute;
  top: 10px;
  width: 12vw;
}
.asistencia .copa-1 {
  left: 38%;
  rotate: 20deg;
  top: 25px;
}
.asistencia .copa-2 {
  right: 41%;
  rotate: -15deg;
}
.asistencia h2 {
  font-size: 5rem;
}
.asistencia p,
.asistencia a {
  margin-top: 20px;
}
.asistencia a {
  background-color: #f4e7d8;
  color: #917c5a;
  width: 50%;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  display: block;
}
.asistencia p {
  font-size: 1.4rem;
  padding: 0 3rem;
}
.asistencia .whatsapp {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 5px;
}
.asistencia .brillo {
  position: absolute;
}
.asistencia .brillo-1 {
  width: 70vw;
  top: 15vh;
  left: -45vw;
  opacity: 0.3;
}
.asistencia .brillo-2 {
  width: 35vw;
  top: 21vh;
  left: -12vw;
  opacity: 0.9;
}
.asistencia .brillo-3 {
  width: 30vw;
  top: 39vh;
  left: 0vw;
  opacity: 0.8;
}
.asistencia .brillo-1-i {
  width: 70vw;
  top: 15vh;
  right: -45vw;
  opacity: 0.3;
}
.asistencia .brillo-2-i {
  width: 35vw;
  top: 19vh;
  right: -10vw;
  opacity: 0.9;
}
.asistencia .brillo-3-i {
  width: 30vw;
  top: 38vh;
  right: 3vw;
  opacity: 0.8;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  height: auto;
  position: relative;
  margin: auto;
}
.slideshow-container .marco {
  background-color: #fff;
  padding: 2vw 2vw 14vw 2vw;
  height: 350px;
  width: 70vw;
}
.slideshow-container .marco .foto-1,
.slideshow-container .marco .foto-2,
.slideshow-container .marco .foto-3,
.slideshow-container .marco .foto-4,
.slideshow-container .marco .foto-5 {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.slideshow-container .marco .foto-1 {
  background-image: url(../img/fotos/foto06.jpg);
  background-position: center;
}
.slideshow-container .marco .foto-2 {
  background-image: url(../img/fotos/foto02.jpg);
  background-position: center;
  background-position-y: bottom;
}
.slideshow-container .marco .foto-3 {
  background-image: url(../img/fotos/foto03.jpg);
  background-position: center;
}
.slideshow-container .marco .foto-4 {
  background-image: url(../img/fotos/foto04.jpg);
  background-position: center;
}
.slideshow-container .marco .foto-5 {
  background-image: url(../img/fotos/foto05.jpg);
  background-position: center;
}
.slideshow-container img {
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /* width: auto; */
  width: 5vw;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -3vw;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.audio-player {
  position: relative;
  top: -25vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.audio-player audio {
  visibility: hidden;
}
.audio-player button {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #fff;
  border: none;
}
.audio-player .play {
  background-image: url(../../assets/img/iconos/play.png);
  background-size: 80%;
  background-position-x: 1.5vw;
  background-position-y: center;
}
.audio-player .pausa {
  background-image: url(../../assets/img/iconos/pausa.png);
  background-size: 75%;
  background-position-x: center;
  background-position-y: center;
}

.controls {
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.progress {
  height: 5px;
  background-color: #fff;
  margin-top: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #cfa571;
}

.progreso {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: 0.5rem;
}

#current-time,
#total-time {
  margin-top: 10px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */