.font-1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-2 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-3 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1rem;

}

.font-4-1 {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-4-2 {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
}

.splash {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

.simple {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.neonBlanco {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
}

.brillos {
    width: 100vw;
    height: 30vh;

    .espejo {
        z-index: 10;
        position: absolute;
        width: 40vw;
        left: 30vw;
        opacity: 0.5;
        rotate: 15deg;
    }

    .fondo {
        height: 30vh;
        position: relative;
        bottom: 0;
    }
}

.hero {
    width: 100%;
    height: 70vh;
    //max-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $marron;
    backdrop-filter: blur(100px);
    //padding-left: 5vw;



    img {
        width: 150vw;

    }

    h1,
    h2 {
        padding: 5px;
        color: $dorado;
        width: fit-content;

    }

    h1 {
        position: absolute;
        top: -145px;
        font-size: 7rem;
        border-radius: 0 10px 0 0;
        padding-top: .5rem;
        padding-bottom: 4rem;
        color: #ffffff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #fff,
            0 0 82px #fff,
            0 0 92px #fff,
            0 0 102px #fff,
            0 0 151px #fff;

    }


    .subtitle {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2rem;
        border-radius: 0 10px 10px 0;
    }

    span {
        vertical-align: middle;
        color: $dorado;
    }

    .xv {
        font-size: 7rem;
        color: #cfa571;
    }

    .fecha {
        margin-top: 5vh;
        width: 85vw;
    }
}

.frase {
    position: relative;
    top: 65px;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: $marron;
    line-height: 25px;

    p {
        color: $dorado;
        text-align: center;
        font-size: 1.2rem;
    }
}

.cuentaAtras {
    background-image: url('../../assets/img/ondas.svg');
    background-size: 190%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $marron;
    color: $dorado;
    //    border: .5px solid black;

    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 1.5rem;
    }

    .contador {
        width: 100%;
        padding: 0 10vw;
        display: flex;
        justify-content: space-evenly;

        .numeros {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .texto {
            font-size: 1rem;
            display: flex;
            justify-content: space-evenly;
        }
    }


}

.galeria {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    background-color: $marronClarito;

    h2 {
        color: $dorado;
        font-size: 1.5rem;
    }

    .fotos {
        background-color: $marron2;

        height: 30vh;
        display: flex;
        gap: 10px;
        padding: 10px;
        justify-content: space-around;

        img {
            overflow-x: hidden;
            width: auto;
            height: 28vh;
        }
    }
}

.info {
    position: relative;
    width: 100vw;

    background-color: $marroncito;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;

    .bola {
        position: absolute;
    }

    .bola-1 {
        width: 45%;
        top: 35vh;
        left: -30vw;
        rotate: -55deg;
    }

    .bola-2 {
        width: 55%;
        top: 45vh;
        left: -35vw;
        rotate: -75deg;
    }

    .bola-3 {
        width: 45%;
        top: 20vh;
        right: -35vw;
        rotate: 25deg;
    }

    .bola-4 {
        width: 55%;
        top: 5vh;
        right: -35vw;
        rotate: 75deg;
    }

    .card {
        align-items: center;
        background-color: $card;
        border-radius: 15px;
        width: 70%;
        height: 30vh;
        padding: 3vh;
        margin: 3vh 0 0 0;
    }

    .lugar,
    .regalo,
    .playlist {

        h2,
        p,
        a {
            text-align: center;
            display: block;
        }

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;

        }

        a {
            font-size: 1.5rem;
            background-color: $marroncito;
            color: $dorado;
            font-weight: bolder;
            border-radius: 15px;
            padding: 0.3rem 1rem;
        }

    }

    .lugar {
        display: flex;
        flex-direction: column;

        h2 {
            position: relative;
            top: -6vh;
            font-size: 3rem;
            color: $dorado;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #fff,
                0 0 82px #fff,
                0 0 92px #fff,
                0 0 102px #fff,
                0 0 151px #fff;
        }

        p {
            position: relative;
            top: -6vh;
        }

        a {
            position: relative;
            top: -5vh
        }

        img {
            position: relative;
            top: -3vh;
            rotate: 45deg;
            width: 25vw;
            margin: 0;
        }
    }

    .playlist {
        display: flex;
        flex-direction: column;
        height: 35vh;

        h2 {
            position: relative;
            top: -2vh;
            font-size: 3rem;
            color: $dorado;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #fff,
                0 0 82px #fff,
                0 0 92px #fff,
                0 0 102px #fff,
                0 0 151px #fff;
        }

        img {
            position: relative;
            top: -1.5vh;
            width: 15vw;
            margin: 0;
        }
    }

    .regalo {

        display: flex;
        flex-direction: column;
        height: 35vh;

        h2 {
            position: relative;
            top: -2vh;
            font-size: 3rem;
            color: $dorado;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #fff,
                0 0 82px #fff,
                0 0 92px #fff,
                0 0 102px #fff,
                0 0 151px #fff;
        }

        p {
            position: relative;
            top: -1rem;
            font-size: 1.2rem;
        }

        img {
            position: relative;
            top: -1.5vh;
            width: 15vw;
            margin: 0;
        }

    }
}

.foto {
    display: flex;
    flex-direction: column;
    height: auto;

    .shadow {
        width: 100vw;
        height: 15px;
        background-color: $marroncito;
        box-shadow: 0px 5px 10px #f4e7d8;
        z-index: 10;
    }

    img {
        z-index: 1;
        width: 100%;
        height: auto;
    }
}

.asistencia {
    background-color: $dorado;
    color: $marroncito;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4vh 0;

    h2 {
        font-size: 5rem;
    }

    p,
    a {
        margin-top: 20px;
    }

    a {
        background-color: $marroncito;
        color: $dorado;
        width: 50%;
        padding: .5rem 2rem;
        border-radius: 20px;
        display: block;
    }

    p {
        font-size: 1.4rem;
        padding: 0 3rem;
    }

    .whatsapp {
        font-size: .8rem;
        font-style: italic;
        margin-top: 5px;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 100vw;
    max-height: 30vh;
    position: relative;
    margin: auto;

    img {
        max-height: 30vh;
    }
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    width: 5vw;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.audio-player {
    position: absolute;
    top: 85px;
    width: 50vw;
    margin: 20px;
    display: flex;
    flex-direction: column;

    audio {
        visibility: hidden;
    }

    button {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        background-color: #fff;
        border: none;
    }

    .play {
        background-image: url(../../assets/img/iconos/play.png);
        background-size: 80%;
        background-position-x: 1.5vw;
        background-position-y: center;
    }

    .pausa {
        background-image: url(../../assets/img/iconos/pausa.png);
        background-size: 75%;
        background-position-x: center;
        background-position-y: center;
    }
}

.controls {
    position: relative;
    top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.progress {
    height: 10px;
    background-color: #fff;
    margin-top: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #cfa571;
}

.progreso {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: .5rem;
}

#current-time,
#total-time {
    margin-top: 10px;
    color: #fff;
}