.font-1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-2 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-3 {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
}

.font-4-1 {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-4-2 {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
}



.neonBlanco {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
}

.brillos {
    width: 100vw;
    height: 30vh;

    .espejo {
        z-index: 10;
        position: absolute;
        width: 40vw;
        left: 30vw;
        opacity: 0.8;
    }

    .fondo {
        height: 40vh;
    }
}

.hero {
    width: 100%;
    height: 70vh;
    //max-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $marron;
    backdrop-filter: blur(100px);
    //padding-left: 5vw;



    img {
        width: 150vw;
    }

    h1,
    h2 {
        padding: 5px;
        color: $dorado;
        width: fit-content;

    }

    h1 {
        position: absolute;
        top: -110px;
        font-size: 7.5rem;
        border-radius: 0 10px 0 0;
        padding-top: .5rem;
        padding-bottom: 4rem;
        color: $marron;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #fff,
            0 0 82px #fff,
            0 0 92px #fff,
            0 0 102px #fff,
            0 0 151px #fff;

    }

    h2 {
        display: inline-block;
        font-size: 2rem;
        border-radius: 0 10px 10px 0;
    }

    span {
        vertical-align: middle;
    }

    .xv {
        font-size: 6rem;
    }

    .fecha {
        font-size: 2rem;
    }
}

.frase {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: $marron;

    p {
        color: $dorado;
        text-align: center;
        font-size: 1.5rem;
    }
}

.cuentaAtras {
    background-image: url('../../assets/img/ondas.svg');
    background-size: 190%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $marron;
    color: $dorado;
    //    border: .5px solid black;

    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 1.5rem;
    }

    .contador {
        width: 100%;
        padding: 0 10vw;
        display: flex;
        justify-content: space-evenly;

        .numeros {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .texto {
            font-size: 1rem;
            display: flex;
            justify-content: space-evenly;
        }
    }


}

.galeria {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    background-color: $marronClarito;

    h2 {
        color: $dorado;
        font-size: 1.5rem;
    }

    .fotos {
        background-color: $marron2;
        //width: 90%;
        //height: 90%;
        display: flex;
        gap: 10px;
        padding: 10px;
        justify-content: space-around;

        img {
            width: 40%;
        }
    }
}

.info {
    position: relative;
    width: 100%;
    background-color: $marroncito;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;

    .bola {
        position: absolute;
    }

    .bola-1 {
        width: 50%;
        top: 35vh;
        left: -30vw;
        rotate: -55deg;
    }

    .bola-2 {
        width: 60%;
        top: 45vh;
        left: -35vw;
        rotate: -75deg;
    }

    .bola-3 {
        width: 50%;
        top: 20vh;
        right: -35vw;
        rotate: 25deg;
    }

    .bola-4 {
        width: 60%;
        top: 5vh;
        right: -35vw;
        rotate: 75deg;
    }

    .card {
        align-items: center;
        background-color: $card;
        border-radius: 15px;
        width: 70%;
        padding: 3vh;
        margin: 3vh 0 0 0;
    }

    .lugar,
    .regalo {

        h2,
        p,
        a {
            padding: 5px 0;
            text-align: center;
            display: block;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        a {
            font-size: 1.5rem;
            background-color: $marroncito;
            color: $dorado;
            font-weight: bolder;
            border-radius: 15px;
            margin: 0 4rem;
        }

    }

    .lugar {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 3rem;
            color: $dorado;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #fff,
                0 0 82px #fff,
                0 0 92px #fff,
                0 0 102px #fff,
                0 0 151px #fff;
        }

        img {
            rotate: 45deg;
            width: 30vw;
            margin: 0;
        }
    }
}

.foto {
    display: flex;
    flex-direction: column;
    height: auto;

    .shadow {
        width: 100vw;
        height: 15px;
        background-color: $marroncito;
        box-shadow: 0px 5px 10px #f4e7d8;
        z-index: 10;
    }

    img {
        z-index: 1;
        width: 100%;
        height: auto;
    }
}

.asistencia {
    background-color: $dorado;
    color: $marroncito;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4vh 0;

    p,
    a {
        margin-top: 20px;
    }

    a {
        background-color: $marroncito;
        color: $dorado;
        width: 50%;
        padding: .5rem 2rem;
        border-radius: 20px;
        display: block;
    }

    p {
        font-size: 1.7rem;
    }

    .whatsapp {
        font-size: 1rem;
        font-style: italic;
        margin-top: 5px;
    }
}